@font-face {
  font-family: 'Nanum Gothic', sans-serif;
  /* src: url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap'); */
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
font-family:'Nanum Gothic', sans-serif;
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
