@font-face {
  font-family: "hanna";        
  src: url("./asset/font/BMHANNAPro.ttf"); 
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
font-family:'hanna';
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
